body {
  font-size: 16px;
  color:#002266;
  background-color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #a64dff;
  border-radius: 0;
  border: 0;


}